<% if user_signed_in? %>
  <%# <% if Favorite.find_by(user_id: current_user.id, tweet_id: @tweet.id) %> 
    <div class="favoriteBtn">
    良いね★
    </div>
  <% else %>
    <div class="nonFavoriteBtn"> 
    良いね⭐️
    </div>
  <%# <% end %> 
<%# <% else %> 
  <%# <div class="logout"> 
  良いね★
  </div>  %>
<% end %>