<%# <% if user_signed_in? %> 
  <%# <% if Favorite.find_by(user_id: current_user.id, tweet_id: @tweet.id) %>  
    <%# <div class="favoriteBtn"> %>
    良いね★
    <%# </div> %>
  <%# <% else %> 
    <%# <div class="nonFavoriteBtn">  %>
    <%# お気に入り %>
    <%# </div> %>
  <%# <% end %> 
<%# <% else %>  
  <%# <div class="logout"> %>
  <%# お気に入り★ %>
  <%# </div> %>
<%# <% end %> 