<%# <% if user_signed_in? %> 
  <%# <% if Favorite.find_by(user_id: current_user.id) %> 
    <div class="favoriteBtn">
      <%= link_to "良いね", method: :post %>
    </div>
  <%# <% else %>
    <%# <div class="nonFavoriteBtn">  %>
    <%# 良いね⭐ %>
    <%# </div> %>
  <%# <% end %> 
<%# <% else %> 
  <%# <div class="logout">  %>
  <%# ログインしてね %>
  <%# </div>  %>
<%# <% end %> 